### First look into data from Kaggle competition "Warmup Round - March Machine Learning Mania 2023"
https://www.kaggle.com/competitions/warmup-round-march-machine-learning-mania-2023

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import glob
import xgboost as xgb

In [2]:
for name in glob.glob("../data/*.csv"):
    print(name)

../data\Cities.csv
../data\Conferences.csv
../data\MConferenceTourneyGames.csv
../data\MGameCities.csv
../data\MMasseyOrdinals.csv
../data\MNCAATourneyCompactResults.csv
../data\MNCAATourneyDetailedResults.csv
../data\MNCAATourneySeedRoundSlots.csv
../data\MNCAATourneySeeds.csv
../data\MNCAATourneySlots.csv
../data\MRegularSeasonCompactResults.csv
../data\MRegularSeasonDetailedResults.csv
../data\MSeasons.csv
../data\MSecondaryTourneyCompactResults.csv
../data\MSecondaryTourneyTeams.csv
../data\MTeamCoaches.csv
../data\MTeamConferences.csv
../data\MTeams.csv
../data\MTeamSpellings.csv
../data\SampleSubmissionWarmup.csv
../data\WGameCities.csv
../data\WNCAATourneyCompactResults.csv
../data\WNCAATourneyDetailedResults.csv
../data\WNCAATourneySeeds.csv
../data\WNCAATourneySlots.csv
../data\WRegularSeasonCompactResults.csv
../data\WRegularSeasonDetailedResults.csv
../data\WSeasons.csv
../data\WTeamConferences.csv
../data\WTeams.csv
../data\WTeamSpellings.csv

In [3]:
df = pd.read_csv('../data/Cities.csv')

In [4]:
df.describe()

            CityID
count   472.000000
mean   4240.847458
std     142.509574
min    4001.000000
25%    4118.750000
50%    4236.500000
75%    4355.250000
max    4494.000000

In [5]:
df.head()

   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

In [6]:
df = {}
for name in glob.glob("../data/*.csv"):
#     print(name)
    print("\n")
    print(name.split('\\')[-1].split('.csv')[0])
    df[name.split('\\')[-1].split('.csv')[0]] = pd.read_csv(name)
#     print(df[name.split('\\')[-1].split('.csv')[0]].info())
#     print(df[name.split('\\')[-1].split('.csv')[0]].describe())
    print(df[name.split('\\')[-1].split('.csv')[0]].head())

Cities
   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA


Conferences
  ConfAbbrev                   Description
0      a_sun       Atlantic Sun Conference
1      a_ten        Atlantic 10 Conference
2        aac  American Athletic Conference
3        acc     Atlantic Coast Conference
4        aec       America East Conference


MConferenceTourneyGames
   Season ConfAbbrev  DayNum  WTeamID  LTeamID
0    2001      a_sun     121     1194     1144
1    2001      a_sun     121     1416     1240
2    2001      a_sun     122     1209     1194
3    2001      a_sun     122     1359     1239
4    2001      a_sun     122     1391     1273


MGameCities
   Season  DayNum  WTeamID  LTeamID   CRType  CityID
0    2010       7     1143     1293  Regular    4027
1    2010       7     1314     1198  Regular    4061
2    2010       7     1326     1108  Regular    4080
3    2010       7     1393     1107  Regular    4340
4    2010       9     1143     1178  Regular    4027


MMasseyOrdinals
   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260


MNCAATourneyCompactResults
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0


MNCAATourneyDetailedResults
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003     134     1421      92     1411      84    N      1    32    69
1    2003     136     1112      80     1436      51    N      0    31    66
2    2003     136     1113      84     1272      71    N      0    31    59
3    2003     136     1141      79     1166      73    N      0    29    53
4    2003     136     1143      76     1301      74    N      1    27    64

   ...  LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0  ...     31    14    31   17   28    16   15     5     0   22
1  ...     16     7     7    8   26    12   17    10     3   15
2  ...     28    14    21   20   22    11   12     2     5   18
3  ...     17    12    17   14   17    20   21     6     6   21
4  ...     21    15    20   10   26    16   14     5     8   19

[5 rows x 34 columns]


MNCAATourneySeedRoundSlots
  Seed  GameRound GameSlot  EarlyDayNum  LateDayNum
0  W01          1     R1W1          136         137
1  W01          2     R2W1          138         139
2  W01          3     R3W1          143         144
3  W01          4     R4W1          145         146
4  W01          5     R5WX          152         152


MNCAATourneySeeds
   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374


MNCAATourneySlots
   Season  Slot StrongSeed WeakSeed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12


MRegularSeasonCompactResults
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0


MRegularSeasonDetailedResults
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  WFGM  WFGA  \
0    2003      10     1104      68     1328      62    N      0    27    58
1    2003      10     1272      70     1393      63    N      0    26    62
2    2003      11     1266      73     1437      61    N      0    24    58
3    2003      11     1296      56     1457      50    N      0    18    38
4    2003      11     1400      77     1208      71    N      0    30    61

   ...  LFGA3  LFTM  LFTA  LOR  LDR  LAst  LTO  LStl  LBlk  LPF
0  ...     10    16    22   10   22     8   18     9     2   20
1  ...     24     9    20   20   25     7   12     8     6   16
2  ...     26    14    23   31   22     9   12     2     5   23
3  ...     22     8    15   17   20     9   19     4     3   23
4  ...     16    17    27   21   15    12   10     7     1   14

[5 rows x 34 columns]


MSeasons
   Season     DayZero RegionW    RegionX    RegionY    RegionZ
0    1985  1984-10-29    East       West    Midwest  Southeast
1    1986  1985-10-28    East    Midwest  Southeast       West
2    1987  1986-10-27    East  Southeast    Midwest       West
3    1988  1987-11-02    East    Midwest  Southeast       West
4    1989  1988-10-31    East       West    Midwest  Southeast


MSecondaryTourneyCompactResults
   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  \
0    1985     136     1151      67     1155      65    H      0
1    1985     136     1153      77     1245      61    H      0
2    1985     136     1201      79     1365      76    H      0
3    1985     136     1231      79     1139      57    H      0
4    1985     136     1249      78     1222      71    H      0

  SecondaryTourney
0              NIT
1              NIT
2              NIT
3              NIT
4              NIT


MSecondaryTourneyTeams
   Season SecondaryTourney  TeamID
0    1985              NIT    1108
1    1985              NIT    1133
2    1985              NIT    1139
3    1985              NIT    1145
4    1985              NIT    1151


MTeamCoaches
   Season  TeamID  FirstDayNum  LastDayNum       CoachName
0    1985    1102            0         154   reggie_minton
1    1985    1103            0         154     bob_huggins
2    1985    1104            0         154  wimp_sanderson
3    1985    1106            0         154    james_oliver
4    1985    1108            0         154   davey_whitney


MTeamConferences
   Season  TeamID ConfAbbrev
0    1985    1102        wac
1    1985    1103        ovc
2    1985    1104        sec
3    1985    1106       swac
4    1985    1108       swac


MTeams
   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2023
1    1102    Air Force           1985          2023
2    1103        Akron           1985          2023
3    1104      Alabama           1985          2023
4    1105  Alabama A&M           2000          2023


MTeamSpellings

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 15095: invalid start byte

In [7]:
df['MRegularSeasonCompactResults'].head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [8]:
df2 = df['MRegularSeasonCompactResults']

In [14]:
df2.shape

(180189, 8)

In [15]:
df2.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [18]:
df2.WTeamID.value_counts()

1181    984
1242    977
1246    921
1314    910
1112    910
       ...
1477     10
1289      6
1118      6
1473      6
1327      3
Name: WTeamID, Length: 377, dtype: int64

In [19]:
df2.LTeamID.value_counts()

1152    821
1271    780
1363    754
1341    747
1224    727
       ...
1473     16
1476     14
1477     13
1475     12
1474      9
Name: LTeamID, Length: 377, dtype: int64